@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    background-color: #00000000;
    overflow: hidden;
    overflow-y: visible;
    border-left: 1px solid black;
}

* {
    user-select: none;
    cursor: default;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #212121;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.nav {
    background-color: black;
    width: 100vw;
    height: 24px;
    -webkit-app-region: drag;
    position: fixed;
    color: white;
    user-select: none;
    cursor: default;
    padding: 4px;
}

img {
    height: 24px;
    width: auto;
    vertical-align: middle;
}

img:not(:first-child) {
    margin-left: 4px;
}

.message img {
    margin-left: 4px;
}

.chat {
    padding: 6px;
    display: block;
    height: 100vh;
    background-color: #0000002a;
}

.message {
    margin-top: 4px;
    padding-bottom: 6px;
    border-bottom: #fff solid 1px;
}

.message:first-child {
    margin-top: 26px;
}

.event {
    background-color: #9146FF;
    color: white;
    border: 1px #fff solid;
    text-align: center;
    padding: 6px;
}

.event .sender {
    font-weight: bolder;
    text-shadow: 0px 0px 3px white;
}

.event .info {
    color: #fff;
}

.event .extra {
    color: #a1a1a1;
    text-shadow: 0px 0px 2px #a1a1a1;
}